<!DOCTYPE html>
<html>
  <head>
    <title>Azure MP</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>

      <!-- Optional theme -->
      <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>

        <script src="/javascripts/jquery-1.11.1.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css" />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <script src="/javascripts/vmscripts.js"></script>
	<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
  </head>
  <body>


    
      <div class="container">
        

      <form class="form-signin" method="post" action="/authenticate">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="username" class="input-block-level" placeholder="Username" onfocus="$('#errmsg').addClass('hidden');">
        <input type="password" id="password" class="input-block-level" placeholder="Password">
       
        <button class="btn btn-large btn-primary" id="submitbutton" type="button" onclick="authenticate();">Sign in</button>
        <span style="color:red" id="errmsg" class="hidden">Invalid Credentials !!!</span>
      </form>

    </div> 
    <!-- /.container -->
    <script>
    function authenticate(){
    $.get('/authenticate/' + $('#username').val() +  '/' + $('#password').val(),function(data){
     if(data == "OK")
        window.location.href = '/';
      else
        $('#errmsg').removeClass('hidden');
    });
    }
    $('#password').keydown(function(){
        if(event.keyCode == 13)
            authenticate();
    });
    </script>
  </body>
</html>
